<div class="item item--profile item--profile--<%= style %>">
  <% if(style === 'small') { %>
    <div class="shape">
      <div class="item-content" style="background-image:url(<%= user.avatar_url %>&s=600);">
        <div class="content">
          <div class="profile-gradient">
            <h1 class="profile-name"><%= user.name %></h1>
          </div>
        </div>
      </div>
    </div>
  <% } else { %>
  <div class="shape">
    <div class="item-content" >
      <div class="profile-map">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= user.location %>&zoom=6&size=400x400&maptype=roadmap&sensor=false" alt="">
        <i class="icon icon-marker"></i>
      </div>
      <div class="content">
        <div class="md-rev md-10 profile-header">
          <span class="profile-picture img">
            <% if (user.gravatar_id) { %>
              <img src="http://www.gravatar.com/avatar/<%= user.gravatar_id %>?s=80" />
            <% } else { %>
              <img src="<%= user.avatar_url %>s=80" />
            <% } %>
          </span>    
          <div class="bd">
            <h1 class="profile-name"><%= user.name %></h1>
            <h4 class="profile-company">
              <% if (user.company) { %>
                Works at <strong><%= user.company %></strong>
              <% } else { %>
                @<%= user.login %>
              <% } %>
            </h4>
            <% if (user.blog) { %>
            <a class="profile-meta" href="<%= user.blog %>">
              <strong><%= user.blog %></strong>
            </a>
            <% } %>
          </div>
        </div>
      </div>
      <footer class="metas">
        <ul class="list-stat list-stat--complete">
          <% if (user.public_repos) { %>
            <li>
              <strong class="stat-number"><%= user.public_repos %></strong>
              <span class="stat-label">repositories</span>
            </li>
          <% } %>
          <% if (user.followers) { %>
            <li>
              <strong class="stat-number"><%= user.followers %></strong>
              <span class="stat-label">followers</span>
            </li>
          <% } %>
          <% if (user.public_gists) { %>
            <li>
              <strong class="stat-number"><%= user.public_gists %></strong>
              <span class="stat-label">gists</span>
            </li>
          <% } %>
        </ul>
      </footer>
    </div>
  </div>
  <% } %>
</div>