@font-face
  font-family 'Droid Serif'
  src url('/static/fonts/DroidSerif-Italic.woff') format('woff'),
      url('/static/fonts/DroidSerif-Italic.ttf')  format('truetype')
  font-style italic
  font-weight 400

@font-face
  font-family 'Roboto Black'
  src url('/static/fonts/Roboto-Black.woff') format('woff'),
      url('/static/fonts/Roboto-Black.ttf')  format('truetype')
  font-style normal
  font-weight 400

@font-face
  font-family 'Roboto'
  src url('/static/fonts/Roboto-Bold.woff') format('woff'),
      url('/static/fonts/Roboto-Bold.ttf')  format('truetype')
  font-style normal
  font-weight 700

@font-face
  font-family 'Roboto Light'
  src url('/static/fonts/Roboto-Light.woff') format('woff'),
      url('/static/fonts/Roboto-Light.ttf')  format('truetype')
  font-style normal
  font-weight 200

@font-face
  font-family 'Roboto Medium'
  src url('/static/fonts/Roboto-MediumItalic.woff') format('woff'),
      url('/static/fonts/Roboto-MediumItalic.ttf')  format('truetype')
  font-style italic
  font-weight 400
