// Responsive
bpMobile = 900px

// Colors

black = rgb(26, 26, 26)
grey = rgb(54, 56, 57)
green = rgb(65, 184, 131)
blue = rgb(53, 73, 94)

twitterBlue = rgb(29, 161, 242)
volkswagenBlue = rgb(0, 142, 231)
bourne = rgb(240, 129, 55)
