/*------------------------------------*\
    Project variables
\*------------------------------------*/
/*------------------------------------*\
    Project variables
\*------------------------------------*/
/*------------------------------------*\
    Compass
\*------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
    Mixins
\*------------------------------------*/
/*------------------------------------*\
    Projects styles
\*------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\00003105}}
html {
  font-size: 100%;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_base\.scss}line{font-family:\000033}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_base\.scss}line{font-family:\000037}}
body {
  font: 16px/24px "Open sans", sans-serif;
  color: #333333;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #f1f3f5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_base\.scss}line{font-family:\0000315}}
a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_base\.scss}line{font-family:\0000316}}
a:hover {
  color: #009cff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_base\.scss}line{font-family:\0000318}}
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_base\.scss}line{font-family:\0000319}}
em {
  font-style: italic;
}

/*
 * Media Object
 * ============
 *
 * The media object describes a content block containing
 * a fixed-size media element (e.g. image or video)
 * along with other variable-size content (e.g. text).
 *
 *      <div class="md">
 *          <a href="#" class="img">
 *              <img src="path/to/my/picture.jpg" alt="me" />
 *          </a>
 *          <div class="bd">
 *              This is a media object.
 *          </div>
 *      </div>
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000318}}
.md {
  *zoom: 1;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.md:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/mixins\/_media-object\.scss}line{font-family:\000033}}
.md .bd {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/mixins\/_media-object\.scss}line{font-family:\0000313}}
.md .img {
  float: left;
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/mixins\/_media-object\.scss}line{font-family:\0000315}}
.md .img img {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000320}}
.md.md-10 .img {
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000323}}
.md-rev {
  *zoom: 1;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.md-rev:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/mixins\/_media-object\.scss}line{font-family:\000033}}
.md-rev .bd {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/mixins\/_media-object\.scss}line{font-family:\0000313}}
.md-rev .img {
  float: right;
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/mixins\/_media-object\.scss}line{font-family:\0000315}}
.md-rev .img img {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000325}}
.md-rev.md-10 .img {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000331}}
.stat-number {
  font-size: 1em;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000334}}
.stat-label {
  font-size: 0.75em;
  line-height: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000341}}
.list-stat {
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000347}}
.list-stat .stat-number {
  font-size: 1.25em;
  line-height: 1.2em;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000351}}
.list-stat .stat-label {
  font-size: 0.75em;
  line-height: 2em;
  opacity: .75;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000356}}
.list-stat li {
  position: relative;
  display: table-cell;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000359}}
.list-stat li + li:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 1px;
  background: rgba(0, 0, 0, 0.05);
}

/*------------------------------------*\
    Helpers
\*------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000371}}
.float-right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000372}}
.float-left {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000373}}
.upper {
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000374}}
.small, small {
  font-size: 0.6875em;
  line-height: 2.1818181818181817em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000375}}
.align-right {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000376}}
.align-left {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000377}}
.align-center {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000378}}
.bold, .meta, .item .title, .item--profile--small .profile-name, .profile-name {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000379}}
.italic {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000380}}
.simple-list--complete li, .list p, .item .title, .item .url, .item--profile--small .profile-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*------------------------------------*\
    Text Colors
\*------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000389}}
.stat-label, .simple-list li, .item .simple-list--complete li a, .item .date, .profile-meta, .profile-login, .profile-company {
  color: #909090;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000390}}
.meta {
  color: #b2b2b2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000391}}
.list, .item .description {
  color: #5d5d5d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000392}}
.bar-title a, .item--profile--small .profile-name {
  color: white;
}

/*------------------------------------*\
    Sprites
\*------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\0000398}}
.icon {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  font-size: 1px;
  line-height: 1px;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_shared\.scss}line{font-family:\00003113}}
i.icon,
img.icon {
  display: inline-block;
  float: none;
  text-indent: 0;
  max-width: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/icon\/\*\.png}line{font-family:\0000363}}
.icon-sprite, .icon-fork, .icon-marker, .icon-star {
  background: url('../images/icon-s7198ae302d.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000377}}
.icon-fork {
  background-position: 0 0;
  height: 16px;
  width: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000377}}
.icon-marker {
  background-position: 0 -32px;
  height: 40px;
  width: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000377}}
.icon-star {
  background-position: 0 -16px;
  height: 16px;
  width: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\000032}}
.container {
  margin: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\000036}}
.items {
  *zoom: 1;
  padding: 0.5em 0 0 0.5em;
  max-width: 76em;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/\.rvm\/gems\/ruby-1\.9\.3-p374\/gems\/compass-0\.13\.alpha\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.items:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000311}}
.items [aura-hull-widget] {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000313}}
.shape {
  position: relative;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000319}}
.item .content {
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000323}}
.item .content > :last-child {
  margin-bottom: 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000328}}
.item:hover .title,
.item .content a {
  color: #008cdd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000332}}
.item-content {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  overflow: hidden;
  background-color: white;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin: 0 0.5em 0.5em 0;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000341}}
.item-content[data-href] {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000344}}
.bar {
  background-color: #98a7b5;
  color: white;
  padding: 1em;
  border: 4px 4px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000350}}
.bar-title {
  font-size: 1em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000352}}
.bar-title a {
  font-size: 0.8125em;
  line-height: 1.846153846153846em;
  opacity: .7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000356}}
.bar-title a:hover {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000362}}
.metas {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  padding: 0 1em;
  border-top: 1px solid #dddddd;
  background-color: #f1f3f5;
  background-size: 100% 1.1875em;
  background-repeat: no-repeat;
  background-position: 0 100%;
  box-shadow: inset 0 1px 0 white, 0 1px 1px rgba(0, 0, 0, 0.05);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 0 0 4px 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000374}}
.meta {
  position: relative;
  font-size: 0.75em;
  line-height: 2em;
  display: inline-block;
  padding: 0.5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000382}}
.meta + .meta {
  margin-left: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000386}}
.meta--fork .icon-fork {
  position: relative;
  top: -2px;
  opacity: .25;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000392}}
.meta--star .icon-star {
  position: relative;
  top: -2px;
  opacity: .25;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\0000399}}
.simple-list li {
  margin-bottom: 0.375em;
  font-size: 1em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003103}}
.simple-list li span {
  font-size: 0.875em;
  line-height: 1.7142857142857142em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003109}}
.simple-list--complete li {
  font-size: 0.8125em;
  line-height: 1.846153846153846em;
  margin-bottom: 0.15000000000000002em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003117}}
.simple-list--complete .icon {
  opacity: .25;
  margin-right: 6px;
  position: relative;
  top: -2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003124}}
.list {
  margin-top: 0.75em;
  margin-bottom: 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003128}}
.list li {
  margin-bottom: 0.375em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003131}}
.list .list-title {
  font-size: 0.875em;
  line-height: 1.7142857142857142em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003134}}
.list p {
  font-size: 0.6875em;
  line-height: 2.1818181818181817em;
  margin-bottom: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003140}}
.item .title {
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
  margin-bottom: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003147}}
.item .url {
  font-size: 0.75em;
  line-height: 2em;
  margin-bottom: 0em;
  color: #008cdd;
  display: inline-block;
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003154}}
.item .url:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003158}}
.item .date {
  margin-bottom: 0em;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003163}}
.item .description {
  font-size: 0.875em;
  line-height: 1.7142857142857142em;
  margin-top: 0.75em;
  margin-bottom: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003169}}
.item .description + .date {
  margin-top: 0.75em;
}

/* Specific item */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003175}}
.item--centered .shape {
  height: 0;
  padding: 0 0 50% 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003179}}
.item--centered .content {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  padding: 0;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003185}}
.item--centered .content:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003193}}
.item--centered .item-content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003196}}
.item--centered .centered {
  display: inline-block;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003203}}
.item--profile--small .shape {
  height: 0;
  padding: 0 0 100% 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003207}}
.item--profile--small .content {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003213}}
.item--profile--small .item-content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003219}}
.item--profile--small .profile-name {
  font-size: 1.125em;
  line-height: 1.3333333333333333em;
  padding: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003228}}
.item--profile--complete .content {
  position: relative;
  background-color: white;
  border-radius: 4px 4px 0 0;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003234}}
.item--profile--complete .metas {
  z-index: 2;
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003239}}
.profile-gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  color: #fff;
  width: 100%;
  border-radius: 0 0 4px 4px;
  padding: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003248}}
.profile-map {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003252}}
.profile-map img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003255}}
.profile-map .icon-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003263}}
.profile-header {
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003267}}
.profile-picture {
  position: relative;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 1px white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003276}}
.profile-picture:before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
  display: block;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003284}}
.profile-picture img {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  display: block;
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003292}}
.profile-name {
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003297}}
.profile-meta, .profile-login, .profile-company {
  font-size: 0.8125em;
  line-height: 1.3846153846153846em;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003302}}
.profile-login {
  margin-top: 0.375em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003305}}
.profile-login:before {
  content: "@";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003307}}
.profile-company {
  margin-top: 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003311}}
.list-stat--complete {
  margin-top: 0em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0em;
}

@media all and (min-width: 33em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003317}}
  .item {
    width: 50%;
    float: left;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003322}}
  .item--centered .shape,
  .shape {
    height: 0;
    padding: 0 0 100% 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003326}}
  .item-content {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003328}}
  .item-content footer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003333}}
  .item--profile--complete .content {
    border-bottom: 1px solid #dddddd;
    box-shadow: inset 0 1px 0 white;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003338}}
  .profile-map {
    display: block;
  }
}
@media all and (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003342}}
  .item {
    width: 33.3333333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003345}}
  .item--wide {
    width: 66.6666666666%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003347}}
  .item--wide .shape {
    padding: 0 0 50% 0;
  }
}
@media all and (min-width: 66em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003353}}
  .item {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/victor\/Sites\/hull\.github\.com\/assets\/sass\/_layout\.scss}line{font-family:\00003356}}
  .item--wide {
    width: 50%;
  }
}
